Repository soblin/cpplox: changes, and which Codecov flags are due for each by the changed paths.
All: Header Files, Source Files

organized statement
  test/test_statement.cpp
Due: none

chore(ci): fix ubuntu version
  .github/workflows/gtest.yaml
Due: none

chore(ci): fix ubuntu version (#70)
  .github/workflows/gtest.yaml
Due: none

Merge remote
  .github/workflows/gtest.yaml
Due: none

refactor(test): divide files and organize parameters (#69)
  test/expr/test_expression.cpp
  test/expr/test_expression_error.cpp
  test/stmt/test_stmt_error.cpp
  test/test_expression.cpp
  test/test_parser.cpp
  test/test_statement.cpp
Due: none

chore(test): move file
  test/stmt/test_statement.cpp
Due: none

chore(test): move file (#71)
  test/stmt/test_statement.cpp
Due: none

added Call expr
  include/cpplox/error.hpp
  include/cpplox/expression.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/system.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
Due: Header Files, Source Files

added func_decl
  include/cpplox/error.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  src/interpreter.cpp
  src/parser.cpp
Due: Header Files, Source Files

scripts/function.lox works
  include/cpplox/error.hpp
  include/cpplox/expression.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/statement.hpp
  scripts/function.lox
  src/debug.cpp
  src/interpreter.cpp
  src/main.cpp
  src/parser.cpp
  src/tokenizer.cpp
Due: Header Files, Source Files

fix
  include/cpplox/interpreter.hpp
  src/interpreter.cpp
Due: Header Files, Source Files

fix 2
  src/tokenizer.cpp
Due: Source Files

fix 3
  scripts/function.lox
Due: none

pass
  include/cpplox/interpreter.hpp
  scripts/function.lox
  src/interpreter.cpp
  test/stmt/test_statement.cpp
Due: Header Files, Source Files

feat(statement, interpreter): add function (#72)
  include/cpplox/error.hpp
  include/cpplox/expression.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  include/cpplox/system.hpp
  scripts/function.lox
  src/debug.cpp
  src/interpreter.cpp
  src/main.cpp
  src/parser.cpp
  test/stmt/test_statement.cpp
Due: Header Files, Source Files

fib works
  include/cpplox/control_flow.hpp
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
  test/stmt/test_statement.cpp
Due: Header Files, Source Files

feat(statement, interpreter): add return statement (#73)
  include/cpplox/control_flow.hpp
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
  test/stmt/test_statement.cpp
Due: Header Files, Source Files

test(statement, interpreter): add tests for function
  src/interpreter.cpp
  test/stmt/test_statement.cpp
  test/stmt/test_stmt_error.cpp
Due: Source Files

test(statement, interpreter): add tests for function (#74)
  src/interpreter.cpp
  test/stmt/test_statement.cpp
  test/stmt/test_stmt_error.cpp
Due: Source Files

test(statement, interpreter): add tests for function
  test/stmt/test_stmt_error.cpp
Due: none

test(statement, interpreter): add tests for function (#75)
  test/stmt/test_stmt_error.cpp
Due: none

feat(REPL): improve error report
  scripts/runtime_error/max_loop_error.lox
  scripts/runtime_error/no_return_function.lox
  scripts/runtime_error/not_invocable_error.lox
  scripts/runtime_error/runtime_error.lox
  scripts/syntax_error/syntax_error.lox
  scripts/syntax_error/syntax_error_eof.lox
  scripts/syntax_error/syntax_error_eof_wo_newline.lox
  scripts/syntax_error_eof_wo_newline.lox
  src/debug.cpp
Due: none

feat(REPL): improve error report (#76)
  scripts/runtime_error/max_loop_error.lox
  scripts/runtime_error/no_return_function.lox
  scripts/runtime_error/not_invocable_error.lox
  scripts/runtime_error/runtime_error.lox
  scripts/syntax_error/syntax_error.lox
  scripts/syntax_error/syntax_error_eof.lox
  scripts/syntax_error/syntax_error_eof_wo_newline.lox
  scripts/syntax_error_eof_wo_newline.lox
  src/debug.cpp
Due: none

feat(function): support empty parameter
  scripts/closure.lox
  src/parser.cpp
  test/stmt/test_statement.cpp
Due: Source Files

feat(function): support empty parameter (#77)
  scripts/closure.lox
  src/parser.cpp
  test/stmt/test_statement.cpp
Due: Source Files

feat(closure): add incomplete closure
  include/cpplox/expression.hpp
  scripts/closure.lox
  src/interpreter.cpp
Due: Header Files, Source Files

feat(closure): add incomplete closure (#78)
  include/cpplox/expression.hpp
  scripts/closure.lox
  src/interpreter.cpp
Due: Header Files, Source Files

perf(interpreter): use string_view
  include/cpplox/environment.hpp
  src/environment.cpp
  src/main.cpp
  test/stmt/test_statement.cpp
Due: Header Files, Source Files

perf(interpreter): use string_view (#79)
  include/cpplox/environment.hpp
  src/environment.cpp
  src/main.cpp
  test/stmt/test_statement.cpp
Due: Header Files, Source Files

WIP: hash for token
  CMakeLists.txt
  include/cpplox/error.hpp
  include/cpplox/resolver.hpp
  src/resolver.cpp
Due: Header Files, Source Files

add debugger
  include/cpplox/debug.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/resolver.hpp
  include/cpplox/token.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/resolver.cpp
Due: Header Files, Source Files

debugging using scripts/function.lox
  scripts/function.lox
  src/debug.cpp
Due: none

seems working
  src/resolver.cpp
Due: Source Files

use program option
  CMakeLists.txt
Due: none

add scope print option
  CMakeLists.txt
  include/cpplox/debug.hpp
  include/cpplox/interpreter.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/main.cpp
Due: Header Files, Source Files

test pass
  include/cpplox/error.hpp
  src/interpreter.cpp
Due: Header Files, Source Files

pass lookup
  include/cpplox/interpreter.hpp
  src/interpreter.cpp
Due: Header Files, Source Files

test does not pass
  include/cpplox/environment.hpp
  src/environment.cpp
  src/interpreter.cpp
Due: Header Files, Source Files

treatment of Block is confused
  src/interpreter.cpp
  src/resolver.cpp
Due: Source Files

function.lox worked
  src/debug.cpp
  src/interpreter.cpp
  src/resolver.cpp
Due: Source Files

Path conditions:
  Header Files: any of: include/cpplox/**.hpp, but not: **/debug*, test/
  Source Files: any of: src/**.cpp, but not: **/debug*, test/
