Repository soblin/cpplox: changes, and which Codecov flags are due for each by the changed paths.
All: Header Files, Source Files

fixed tests for while
  src/debug.cpp
  src/resolver.cpp
  test/stmt/test_statement.cpp
Due: Source Files

test passed
  src/interpreter.cpp
Due: Source Files

feat(resolver): precompute enclosing hop number (#80)
  CMakeLists.txt
  include/cpplox/debug.hpp
  include/cpplox/environment.hpp
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/resolver.hpp
  include/cpplox/token.hpp
  scripts/function.lox
  src/debug.cpp
  src/environment.cpp
  src/interpreter.cpp
  src/main.cpp
  src/resolver.cpp
  test/stmt/test_statement.cpp
Due: Header Files, Source Files

feat(interpreter): simplify block execution
  src/interpreter.cpp
Due: Source Files

refactor(interpreter): use de Bruijn
  include/cpplox/environment.hpp
  src/environment.cpp
  src/interpreter.cpp
Due: Header Files, Source Files

refactor(interpreter): use de Bruijn (#82)
  include/cpplox/environment.hpp
  src/environment.cpp
  src/interpreter.cpp
Due: Header Files, Source Files

feat(interpreter): simplify block execution (#81)
  src/interpreter.cpp
Due: Source Files

refactor(expression): use boost variant for Value
  include/cpplox/debug.hpp
  include/cpplox/expression.hpp
  src/debug.cpp
  src/expression.cpp
  src/interpreter.cpp
  test/expr/test_expression.cpp
  test/expr/test_expression_error.cpp
  test/stmt/test_statement.cpp
  test/stmt/test_stmt_error.cpp
Due: Header Files, Source Files

iosfwd
  include/cpplox/debug.hpp
  src/interpreter.cpp
Due: Source Files

refactor(expression): use boost variant for Value (#84)
  include/cpplox/debug.hpp
  include/cpplox/expression.hpp
  src/debug.cpp
  src/expression.cpp
  src/interpreter.cpp
  test/expr/test_expression.cpp
  test/expr/test_expression_error.cpp
  test/stmt/test_statement.cpp
  test/stmt/test_stmt_error.cpp
Due: Header Files, Source Files

WIP
  include/cpplox/debug.hpp
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/resolver.hpp
  include/cpplox/statement.hpp
  src/parser.cpp
Due: Header Files, Source Files

WIP2
  src/debug.cpp
  src/resolver.cpp
Due: Source Files

WIP2
  include/cpplox/expression.hpp
  src/interpreter.cpp
Due: Header Files, Source Files

compiles
  include/cpplox/expression.hpp
  src/interpreter.cpp
Due: Header Files, Source Files

OK
  include/cpplox/expression.hpp
  src/interpreter.cpp
Due: Header Files, Source Files

instance is created
  src/interpreter.cpp
  src/parser.cpp
Due: Source Files

parsing ReadProperty
  include/cpplox/error.hpp
  include/cpplox/expression.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/resolver.hpp
  src/interpreter.cpp
  src/parser.cpp
  src/resolver.cpp
Due: Header Files, Source Files

test passes
  include/cpplox/debug.hpp
  include/cpplox/error.hpp
  include/cpplox/expression.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
Due: Header Files, Source Files

added SetProperty, test passes
  include/cpplox/debug.hpp
  include/cpplox/error.hpp
  include/cpplox/expression.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/resolver.hpp
  include/cpplox/variant.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
  src/resolver.cpp
Due: Header Files, Source Files

class is not value-semantics
  include/cpplox/expression.hpp
  scripts/ref_semantics.lox
  src/interpreter.cpp
  src/parser.cpp
Due: Header Files, Source Files

migerated
  include/cpplox/statement.hpp
  src/interpreter.cpp
  src/parser.cpp
Due: Header Files, Source Files

fun
  src/interpreter.cpp
Due: Source Files

add test
  test/stmt/test_class.cpp
Due: none

ignore print_resolve for test
  src/interpreter.cpp
Due: Source Files

feat(class): add class with field (#83)
  include/cpplox/debug.hpp
  include/cpplox/error.hpp
  include/cpplox/expression.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/resolver.hpp
  include/cpplox/statement.hpp
  include/cpplox/variant.hpp
  scripts/ref_semantics.lox
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
  src/resolver.cpp
  test/stmt/test_class.cpp
Due: Header Files, Source Files

test passes, methods are not resolved, so foo.bar(123) fails to lookup
  include/cpplox/debug.hpp
  include/cpplox/expression.hpp
  include/cpplox/statement.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
Due: Header Files, Source Files

simple method works
  src/resolver.cpp
  test/stmt/test_class.cpp
Due: Source Files

feat(class): add method without "this" (#85)
  include/cpplox/debug.hpp
  include/cpplox/expression.hpp
  include/cpplox/statement.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
  src/resolver.cpp
  test/stmt/test_class.cpp
Due: Header Files, Source Files

add comment
  include/cpplox/expression.hpp
Due: Header Files

adding devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/scripts/export_git_config.sh
  .devcontainer/scripts/import_git_config.sh
  .envrc
  .gitignore
  Dockerfile
Due: none

upgrade to ubuntu24
  .devcontainer/devcontainer.json
  .devcontainer/scripts/export_git_config.sh
  .devcontainer/scripts/import_git_config.sh
  .github/workflows/gtest.yaml
  CMakeLists.txt
  Dockerfile
Due: none

sync dep install in github actions
  .github/workflows/gtest.yaml
Due: none

fix lcov option
  .github/workflows/gtest.yaml
Due: none

fix lcov
  .github/workflows/gtest.yaml
Due: none

add hadolint
  .hadolint.yml
  .pre-commit-config.yaml
Due: none

feat(docker): upgrade to ubuntu24" (#86)
  .devcontainer/devcontainer.json
  .envrc
  .github/workflows/gtest.yaml
  .gitignore
  .hadolint.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  Dockerfile
Due: none

feat(docker): use .env and docker-compose
  .devcontainer/devcontainer.json
  .env.example
  .gitignore
  Dockerfile
  README.md
  docker-compose.yaml
Due: none

feat(docker): use .env and docker-compose (#87)
  .devcontainer/devcontainer.json
  .env.example
  .gitignore
  Dockerfile
  README.md
  docker-compose.yaml
Due: none

feat(docker): push image to ghcr
  .env.example
  .github/workflows/ghcr.yaml
  Dockerfile
  README.md
  docker-compose.yaml
Due: none

fix
  .github/workflows/ghcr.yaml
Due: none

Path conditions:
  Header Files: any of: include/cpplox/**.hpp, but not: **/debug*, test/
  Source Files: any of: src/**.cpp, but not: **/debug*, test/
