Repository soblin/cpplox: changes, and which Codecov flags are due for each by the changed paths.
All: Header Files, Source Files

codecov.yaml:

ignore:
  - "**/debug*"
  - "test/"

coverage:
  status:
    project:
      default:
        target: 95%
        threshold: 1%
    patch:
      default:
        enabled: false

component_management:
  individual_components:
    - component_id: header
      name: Header Files
      paths:
        - include/cpplox/**.hpp

    - component_id: source
      name: Source Files
      paths:
        - src/**.cpp

remove setting
  .github/workflows/gtest.yaml
  src/interpreter.cpp
  src/tokenizer.cpp
Due: Source Files

chore(test): ignore unreachable (#56)
  src/interpreter.cpp
  src/tokenizer.cpp
Due: Source Files

feat(statement): add <simple-declaration> to if block
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

add test
  test/test_statement.cpp
Due: none

add test2
  test/test_statement.cpp
Due: none

fix test
  test/test_statement.cpp
Due: none

feat(statement): add <simple-declaration> to if block (#57)
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

add test script
  scripts/syntax_error_eof.lox
  src/main.cpp
Due: Source Files

the issue is that in repl or file ending without '\n', the error position cursor ^ is not newlined
  src/debug.cpp
  src/main.cpp
Due: Source Files

fixed
  scripts/syntax_error_eof_wo_newline.lox
  src/debug.cpp
Due: none

minimize diff
  src/debug.cpp
Due: none

fix(REPL): fix handling of REPL / file without newline (#58)
  scripts/syntax_error_eof.lox
  scripts/syntax_error_eof_wo_newline.lox
  src/debug.cpp
  src/main.cpp
Due: Source Files

adding test
  include/cpplox/expression.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

adding test2
  test/test_statement.cpp
Due: none

feat(statement): add logical_and logical_or (#59)
  include/cpplox/expression.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

seems working
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  scripts/test.lox
  src/interpreter.cpp
  src/parser.cpp
Due: Header Files, Source Files

added test
  test/test_statement.cpp
Due: none

added test2
  test/test_statement.cpp
Due: none

feat(statement): add while (#60)
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  scripts/test.lox
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

if init_stmt is empty, does not work
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

add test for error
  test/test_statement.cpp
Due: none

add test for runtime error
  test/test_statement.cpp
Due: none

add test for runtime error2
  test/test_statement.cpp
Due: none

feat(statement): add for-statement (#61)
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

feat(statement): add break/continue
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  include/cpplox/token.hpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

feat(statement): add break/continue (#64)
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  include/cpplox/token.hpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

test(statement): add test for break/continue
  test/test_statement.cpp
Due: none

feat(statement): add nexted break/continue
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/statement.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

fix
  include/cpplox/error.hpp
  src/debug.cpp
  src/interpreter.cpp
Due: Header Files, Source Files

feat(statement): add nexted break/continue (#66)
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/statement.hpp
  src/debug.cpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

remove tokenizer duplicate
  include/cpplox/tokenizer.hpp
  test/test_statement.cpp
Due: Header Files

organized statement syntax errors
  test/test_statement.cpp
Due: none

refactor(test): parameterize statement tests (#67)
  include/cpplox/tokenizer.hpp
  test/test_statement.cpp
Due: Header Files

organized statement runtime errors
  test/test_statement.cpp
Due: none

organized statement runtime errors (#68)
  test/test_statement.cpp
Due: none

divide file
  test/stmt/test_stmt_error.cpp
  test/test_statement.cpp
Due: none

organized parser
  test/test_parser.cpp
Due: none

organized expr
  test/expr/test_expression.cpp
  test/expr/test_expression_error.cpp
  test/test_expression.cpp
Due: none
