Repository soblin/cpplox: changes, and which Codecov flags are due for each by the changed paths.
All: Header Files, Source Files

codecov.yaml:

ignore:
  - "**/debug*"
  - "test/"

coverage:
  status:
    project:
      default:
        target: 95%
        threshold: 1%
    patch:
      default:
        enabled: false

component_management:
  individual_components:
    - component_id: header
      name: Header Files
      paths:
        - include/cpplox/**.hpp

    - component_id: source
      name: Source Files
      paths:
        - src/**.cpp

regex exclude debug
  codecov.yaml
Due: none

fix
  codecov.yaml
Due: none

testing block
  test/test_block.cpp
Due: none

add test
  test/test_block.cpp
Due: none

add test for error
  test/test_block.cpp
Due: none

remove unused
  include/cpplox/interpreter.hpp
  src/interpreter.cpp
Due: Header Files, Source Files

add test, clean code
  include/cpplox/interpreter.hpp
  scripts/test.lox
  src/parser.cpp
  test/test_block.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

add test
  scripts/test.lox
  test/test_block.cpp
Due: none

add more test
  test/test_block.cpp
  test/test_statement.cpp
Due: none

feat(interpreter): add subscope (#45)
  include/cpplox/environment.hpp
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  scripts/test.lox
  src/interpreter.cpp
  src/parser.cpp
  test/test_block.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

refactor(environment): move impl
  CMakeLists.txt
  include/cpplox/environment.hpp
  src/environment.cpp
Due: Header Files, Source Files

refactor(environment): move impl (#50)
  CMakeLists.txt
  include/cpplox/environment.hpp
  src/environment.cpp
Due: Header Files, Source Files

refactor(REPL): refactor console output
  include/cpplox/debug.hpp
  include/cpplox/error.hpp
  src/debug.cpp
  src/main.cpp
Due: Header Files, Source Files

refactor(REPL): refactor console output (#51)
  include/cpplox/debug.hpp
  include/cpplox/error.hpp
  src/debug.cpp
  src/main.cpp
Due: Header Files, Source Files

runtime_error.lox is a bit off
  include/cpplox/environment.hpp
  include/cpplox/error.hpp
  include/cpplox/expression.hpp
  scripts/runtime_error.lox
  scripts/syntax_error.lox
  src/debug.cpp
  src/environment.cpp
  src/interpreter.cpp
  src/main.cpp
  src/parser.cpp
  test/test_block.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

runtime_error.lox is a bit off (#52)
  include/cpplox/environment.hpp
  include/cpplox/error.hpp
  include/cpplox/expression.hpp
  scripts/runtime_error.lox
  scripts/syntax_error.lox
  src/debug.cpp
  src/environment.cpp
  src/interpreter.cpp
  src/main.cpp
  src/parser.cpp
  test/test_block.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

does not compile
  include/cpplox/variant.hpp
  test/test_variant.cpp
Due: Header Files

SFINAE for std::variant
  include/cpplox/variant.hpp
  test/test_variant.cpp
Due: Header Files

version2
  include/cpplox/variant.hpp
  test/test_variant.cpp
Due: Header Files

experiental is OK
  include/cpplox/variant.hpp
  src/parser.cpp
  test/test_variant.cpp
Due: Header Files, Source Files

finished
  include/cpplox/variant.hpp
  src/parser.cpp
  test/test_block.cpp
  test/test_statement.cpp
  test/test_variant.cpp
Due: Header Files, Source Files

feat(variant): support Boost.Variant (#53)
  include/cpplox/variant.hpp
  src/parser.cpp
  test/test_block.cpp
  test/test_statement.cpp
  test/test_variant.cpp
Due: Header Files, Source Files

if-else WIP
  include/cpplox/error.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  src/parser.cpp
Due: Header Files, Source Files

if-else WIP 2
  src/parser.cpp
Due: Source Files

if-else WIP 3
  include/cpplox/parser.hpp
  src/parser.cpp
Due: Header Files, Source Files

if-else WIP 4
  include/cpplox/statement.hpp
  src/parser.cpp
Due: Header Files, Source Files

refactor
  include/cpplox/parser.hpp
  src/parser.cpp
Due: Header Files, Source Files

build pass, test fail
  include/cpplox/interpreter.hpp
  src/interpreter.cpp
  src/parser.cpp
Due: Header Files, Source Files

test passed
  src/parser.cpp
Due: Source Files

execute if_block
  include/cpplox/interpreter.hpp
  src/interpreter.cpp
Due: Header Files, Source Files

adding if-elseif-else test
  include/cpplox/parser.hpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

feat(statement): add if else (#54)
  include/cpplox/error.hpp
  include/cpplox/interpreter.hpp
  include/cpplox/parser.hpp
  include/cpplox/statement.hpp
  src/interpreter.cpp
  src/parser.cpp
  test/test_statement.cpp
Due: Header Files, Source Files

adding test for if-else error
  test/test_statement.cpp
Due: none

addding runtime error
  test/test_statement.cpp
Due: none

addding runtime error 2
  src/parser.cpp
  test/test_statement.cpp
Due: Source Files

addding runtime error 3
  test/test_statement.cpp
Due: none

addding runtime error 4
  test/test_statement.cpp
Due: none

feat(parser, statement): add test for if-else errors (#55)
  src/parser.cpp
  test/test_statement.cpp
Due: Source Files

chore(test): ignore unreachable
  src/tokenizer.cpp
Due: Source Files

add setting
  .github/workflows/gtest.yaml
Due: none
